body{
    background-color: var(--colorLight);
}
body>main{
    padding: var(--padLrg);
    max-width: 1400px;
}

body>main>*+*{
    margin-top: var(--padMed);
}
p{
    font-size: var(--fontSml);
}
input, label, textarea{
    display: block;
}
input, textarea{
    padding: var(--padSmlst);
}
li{
    max-width: max-content;
    list-style: none;
    display: flex;
    align-items: center;
    gap: var(--padLrg);
    border-bottom: 1px solid var(--colorDark);
}

li div{
    display: flex;
    align-items: center;
    gap: var(--padSmlr);
}

/* rythme */
section>form>*+*, form>section>*+*{
    margin-top: var(--padSml);
}
*+ul{
    margin-top: var(--padSmlr);
}
ul>*+*{
    margin-top: var(--padSmlr);
}
